.titulo-h3 {
  color: #333;
  font-size: 25px;
  margin-bottom: 10px;
}

.estadisticas-container {
  width: 90%;
  margin: 0 auto; /* Esto centrará el contenedor horizontalmente */
}
.estadisticas-container2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.estadisticas-producto-container {
  flex: 1;
  min-width: 300px;
  border: #ccc solid 1px;
  padding: 20px;
}

/* Selectores */
.select-container {
  margin-bottom: 15px;
}

.selects, input[type="date"], select {
  width: 90%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 5px auto; /* Cambiado para centrar verticalmente y horizontalmente */
  display: block; /* Para que el elemento se trate como bloque */
}

.selects:focus, input[type="date"]:focus, select:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

/* Responsivo */
@media (max-width: 768px) {
  .estadisticas-container {
      flex-direction: column;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* Espacio entre los campos */
}

.form-group {
  flex: 1; /* Esto hará que ambos campos tengan el mismo tamaño */
}

.btn-buscar {
  display: flex;
  justify-content: right;
  column-gap: 20px;
  margin-top: 10px;
}

.est-hr {
  border: none;
  width: 95%;
  height: 1px;
  background-color: #334e6b;
  margin: 10px auto;
  margin-top: 20px;
}

.estadisticas-datos {
  width: 50%;
  margin: 15px auto; 
  padding: 20px;
  border: #ccc solid 1px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.est-datos {
  padding-left: 20px;
  margin-top: 5px;
}