{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Pedidos
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'carro/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
{% include 'core/components/encabezado.html' with titulo_texto="Pedido" %}
{% endblock titulo %}

{% block main %}   
    <section class="carro-section-conteiner card">
        <div class="carro-widget-selects">
            {% include "carro/components/widget.html" %}
            {% include 'carro/components/select_productos.html' %}
        </div>
        <div class="carro-widget-selects">
            {% include "carro/components/carro_datos.html" %}
            <div class="btn-container">
                <a class="btn-success" href="{% url 'carro:carro' %}?cargar_pedido=true">Guardar</a>
                <a class="btn-delete" href="{% url 'carro:limpiar' %}">Cancelar</a>
            </div>
        </div>
                          
    </section> 
{% endblock main %}