{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Pedidos
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'carro/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    <div class="titulo-container">
        <div class="titulo-producto-container">
            <h1 class="main-titulo">Crear Pedido</h1>
            <div class="productos-crear-cat">
                <a class="productos-crear" href="{% url 'carro:carro' %}">Pedido</a>
                <a class="productos-crear" href="#">Opcion 1</a>
                <a class="productos-crear" href="#">Opcion 2</a>
            </div>
        </div>
        <hr  class="main-hr"/>
    </div>
{% endblock titulo %}

{% block main %}
    

        <section class="carro-section-conteiner">

            <div class="carro-div-conteiner card">
                {% include "carro/components/widget.html" %}
            </div>

            <div class="carro-div-conteiner card">


                {% include 'carro/components/select_productos.html' %}
                <a href="{% url 'carro:limpiar' %}">Cancelar Pedido</a>
                
                
            </div>
    
    
        </section>

 
    
    
{% endblock main %}