{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Pedidos
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'carro/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
{% if pedido and pedido|length > 0 %}
{% include 'core/components/encabezado.html' with titulo_texto=pedido %}
{% else %}
{% include 'core/components/encabezado.html' with titulo_texto="Nuevo Pedido" %}
{% endif %}
{% endblock titulo %}

{% block main %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="carro-container">
    <div class="widget-container card">
        {% include "carro/components/widget.html" %}
    </div>
    <div class="productos-datos-container card-datos">
        {% include 'carro/components/select_productos.html' %}
        <div class="datos-container">
            {% include "carro/components/carro_datos.html" %}
            <div class="btn-container">
                <a class="btn-success" href="{% url 'carro:carro' %}?cargar_pedido=true">Guardar</a>
                <a class="btn-delete" href="{% url 'carro:limpiar' %}">Cancelar</a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}