{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Agregar Insumos
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'productos/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    {% include 'core/components/encabezado.html' with titulo_texto="Agregar Insumos a {{ producto }}" %}
{% endblock titulo %}

{% block main %}
<section class="form-container">

    <form class="container-detail card" method="POST">
        <div class="insumos-productos">
            <h2>Insumos de {{ producto }}</h2>
            {% csrf_token %}
            <table id="insumosTable" class="styled-table">
                <thead>
                    <tr>
                        <th>Insumo</th>
                        <th>Cantidad</th>
                        <th>Unid</th>
                        <th>Del</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prod_insumo in producto_insumos %}
                    <tr>
                        <td>
                            <h4 name="insumo">{{ prod_insumo.insumo }}</h4>
                            <input type="hidden" name="insumo" value="{{prod_insumo.insumo.id}}">
                        </td>
                        <td>
                            <input class="input-cantidad" type="number" name="cantidad" min="0" step="any" value="{{ prod_insumo.cantidad }}">
                        </td>
                        <td>
                            <p name="unidad">{{ prod_insumo.unidad }}</p>
                            <input type="hidden" name="unidad" value="{{prod_insumo.unidad}}">
                        </td>
                        <td>
                            <button type="button" class="btn-del" onclick="eliminarFila(this)">
                                <img class="icono-opc" src="{% static 'productos/img/cerrar.webp' %}" alt="Eliminar insumo">
                            </button>
                        </td>
                        
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No hay insumos agregados aún.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

        <div class="selects-form">
            {% for proveedor, insumos in proveedores.items %}
                <select class="input" name="insumo" onchange="agregarFila()">
                    <option disabled selected>{{ proveedor }}</option>
                    {% for insumo in insumos %}
                        <option value="{{ insumo.id }}" data-unidad="{{insumo.unidad}}">{{ insumo.nombre }}</option>            
                    {% endfor %}
                </select>          
            {% endfor %}  
            <select name="produccion" class="input" onchange="agregarFilas()" data-url="{% url 'productos:insumos_por_produccion' %}">
                <option value="" selected disabled>Producción</option> 
                {% for i in produccion %}
                    <option value="{{ i.id }}">
                        {{ i.nombre }}
                    </option>
                {% endfor %}
            </select>  
            <div class="btn-container">
                <button type="submit" class="btn-success">Guardar</button>
                <a class="btn-delete" href="{% url 'productos:home' %}">Cancelar</a>
            </div>
        </div>
        
    </form>
</section>


<script>
    function agregarFila() {
        let select = event.target;  
        let selectedOption = select.options[select.selectedIndex];  

        if (selectedOption.value === "") return;  

        let insumoNombre = selectedOption.text;  
        let insumoId = selectedOption.value;  
        let insumoUnid = selectedOption.getAttribute("data-unidad");
        
        if (insumoUnid == "Kg") insumoUnid = "Gr"

        let table = document.getElementById("insumosTable").getElementsByTagName('tbody')[0];
        let newRow = table.insertRow();

        let cell1 = newRow.insertCell(0);
        let cell2 = newRow.insertCell(1);
        let cell3 = newRow.insertCell(2);
        let cell4 = newRow.insertCell(3);

        cell1.innerHTML = `
            <h4 name="insumo">${insumoNombre}</h4>
            <input type="hidden" name="insumo" value="${insumoId}">
            `; 

        cell2.innerHTML = `<input type="number" name="cantidad" step="0.01" min="0.0" class="input-cantidad" required>`;

        
        cell3.innerHTML = `
            <p name="unidad">${insumoUnid}</p>
            <input type="hidden" name="unidad" value="${insumoUnid}">
        `;

        cell4.innerHTML = `<button type="button" class="btn-del" onclick="eliminarFila(this)"><img class="icono-opc" src="{% static 'productos/img/cerrar.webp' %}" alt="Eliminar insumo"></button>`;
        
        select.selectedIndex = 0;
    }

    function agregarFilas() {
        let select = event.target;
        let productoId = select.value;
        let url = select.getAttribute("data-url");

        if (!productoId) return;

        fetch(`${url}?producto_id=${productoId}`)
            .then(response => response.json())
            .then(data => {
                let table = document.getElementById("insumosTable").getElementsByTagName('tbody')[0];

                data.insumos.forEach(insumo => {
                    let newRow = table.insertRow();

                    let cell1 = newRow.insertCell(0);
                    let cell2 = newRow.insertCell(1);
                    let cell3 = newRow.insertCell(2);
                    let cell4 = newRow.insertCell(3);

                    cell1.innerHTML = `
                        <h4 name="insumo">${insumo.nombre}</h4>
                        <input type="hidden" name="insumo" value="${insumo.id}">
                    `;

                    cell2.innerHTML = `<input type="number" name="cantidad" step="0.01" min="0.0" class="input" value="${insumo.cantidad}" required>`;

                    let unidad = insumo.unidad === "Kg" ? "Gr" : insumo.unidad;
                    cell3.innerHTML = `
                        <p name="unidad">${unidad}</p>
                        <input type="hidden" name="unidad" value="${unidad}">
                    `;

                    cell4.innerHTML = `<button type="button" class="btn-delete" onclick="eliminarFila(this)">Eliminar</button>`;
                });

                select.selectedIndex = 0;
            })
            .catch(error => console.error('Error al cargar insumos:', error));
    }


    function eliminarFila(btn) {
        let row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }
</script>

    
{% endblock main %}




