{% extends 'core/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
dQ | Productos
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'productos/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
{% include 'core/components/encabezado.html' with titulo_texto="Productos" %}
{% endblock titulo %}

{% block main %}
<section class="categorias-container">
    {% regroup object_list by categoria.nombre as categorias_productos %}

    {% for categoria in categorias_productos %}
        {% with categoria.grouper as nombre_categoria %}
            {% for cat in categorias %}
                {% if cat.nombre == nombre_categoria and cat.estado and cat.nombre != "Producción" %} 
                    <div class="card">     
                        <div class="titulo-producto">
                            <div class="cont-titulo">
                                <h1 class="categoria-titulo">{{ nombre_categoria }} </h1> 
                            </div>

                            <form class="cat-cant-stk" method="post" action="{% url 'productos:actualizar_cantidad_cat' cat.id %}">
                                {% csrf_token %}
                                
                                {% with form=forms_por_categoria|get_item:cat.id %}
                                <div class="cat-cant-opc">
                                    {{ form.cantidad }}
                                </div>
                                <div class="cat-stock">
                                    {{ form.stock }}
                                </div>
                                {% endwith %}

                                <button class="btn-act" type="submit">Stock</button>
                            </form> 
                        </div>    
                        <hr class="categoria-hr">  
                        
                        {% for producto in categoria.list %}
                            <div class="productos">
                                <p class="producto-nombre">{{ producto.nombre }}</p>
                                <p class="producto-precio">PV: ${{ producto.precio_unit }}</p>
                                <p class="producto-precio-rec">PR: ${{ producto.precio_rec|floatformat:0 }}</p>
                                <div class="producto-opc">
                                    <a href="{% url 'productos:productos_update' producto.id %}">
                                        <img class="icono-opc" src="{% static 'productos/img/editar.webp' %}" alt="Editar Producto">
                                    </a>
                                </div>
                                <div class="producto-config">
                                    <a href="{% url 'productos:agregar_insumos_producto' producto.id %}">
                                        <img class="icono-opc" src="{% static 'productos/img/config.png' %}" alt="Editar Producto">
                                    </a>
                                </div>


                                <form class="form-cantidad" method="post" action="{% url 'productos:actualizar_cantidad_prod' producto.id %}">
                                    {% csrf_token %}
                                    
                                    {% with form=forms_por_producto|get_item:producto.id %}
                                    <div class="producto-cant-opc">
                                        {{ form.cantidad }}
                                    </div>
                                    <div class="producto-stock">
                                        {{ form.stock }}
                                    </div>
                                    {% endwith %}

                                    <button class="btn-act" type="submit">Stock</button>
                                </form>
                            </div>     
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endwith %}
    {% endfor %}
    
    <div class="card">           
        <h1 class="categoria-titulo">Formas de entrega</h1>
        <hr class="categoria-hr">
        {% for entrega in forma_entrega %}
            <div class="productos">
                <p class="producto-nombre">{{ entrega.forma_entrega }}</p>
                {% if entrega.precio != None %}
                    <p class="producto-precio">${{ entrega.precio }}</p>
                {% endif %}
                <div class="producto-opc">
                    <a href="{% url 'pedido:formaentrega_update' entrega.id %}">
                        <img class="icono-opc" src="{% static 'productos/img/editar.webp' %}" alt="Editar Producto">
                    </a>
                </div>
            </div>    
        {% endfor %}
    </div>   
    
    <div class="card">           
        <h1 class="categoria-titulo">Descuentos</h1>
        <hr class="categoria-hr">
        {% for descuento in descuentos %}
            <div class="productos">
                <p class="producto-nombre">{{ descuento.descuento }}</p>
                {% if descuento.precio != None %}
                    <p class="producto-precio">{{ descuento.precio }}</p>
                {% endif %}
                <div class="producto-opc">
                    <a href="{% url 'pedido:descuentos_update' descuento.id %}">
                        <img class="icono-opc" src="{% static 'productos/img/editar.webp' %}" alt="Editar Producto">
                    </a>
                </div>
            </div>    
        {% endfor %}
    </div>
    
    {% for categoria in categorias_productos %}
        {% with categoria.grouper as nombre_categoria %}
            {% for cat in categorias %}
                {% if cat.nombre == nombre_categoria and cat.estado and cat.nombre == "Producción" %} 
                    <div class="card">           
                        <h1 class="categoria-titulo">{{ nombre_categoria }}</h1>  
                        <hr class="categoria-hr">
                        {% for producto in categoria.list %}
                            <div class="productos">
                                <p class="producto-nombre">{{ producto.nombre }}</p>
                                <p class="producto-precio">PV: ${{ producto.precio_unit }}</p>
                                <p class="producto-precio-rec">PR: ${{ producto.precio_rec|floatformat:0 }}</p>
                                <div class="producto-opc">
                                    <a href="{% url 'productos:productos_update' producto.id %}">
                                        <img class="icono-opc" src="{% static 'productos/img/editar.webp' %}" alt="Editar Producto">
                                    </a>
                                </div>
                                <div class="producto-config">
                                    <a href="{% url 'productos:agregar_insumos_producto' producto.id %}">
                                        <img class="icono-opc" src="{% static 'productos/img/config.png' %}" alt="Editar Producto">
                                    </a>
                                </div>
                            </div>     
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endwith %}
    {% endfor %}
</section>
{% endblock main %}

