{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Productos
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'productos/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    <div class="titulo-container">
        <div class="titulo-producto-container">
            <h1 class="main-titulo">Productos</h1>
            <a>Crear Producto</a>
            <a>Categorias</a>
        </div>
        <hr  class="main-hr"/>
    </div>
{% endblock titulo %}

{% block main %}
    {% for producto in productos %}
        <p>{{producto.nombre}} ${{producto.precio_unit}}</p>
    
    {% endfor %}
{% endblock main %}
