{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Insumos
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'gastos/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    {% include 'core/components/encabezado.html' with titulo_texto="Proveedores" %}
{% endblock titulo %}

{% block main %}
<section class="proveedores-container">
    <div class="proveedores-container card">
        {% for proveedor in proveedores %}
            <div class="insumos">
                <h1 class="proveedores-titulo">{{ proveedor }}</h1>
                <div></div>
                <div class="insumo-opc">
                    <a href="{% url 'productos:proveedores_update' proveedor.id%}"><img class="icono-opc" src="{% static 'productos/img/editar.webp' %}" alt="Editar Proveedor"></a>
                </div>
            </div>
            {% empty %}
            <h2 class="vacio">No hay Proveedores cargados.</h2>     
        {% endfor %}
    </div>
</section>
{% endblock main %}