{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}
        dQ | Modificar Producto   
    {% else %}
        dQ | Crear Producto
    {% endif %} 
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'productos/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    {% if form.instance.pk %}
        {% include "productos/components/productos_titulos.html" with titulo_texto="Modificar Producto" %}
    {% else %}
        {% include "productos/components/productos_titulos.html" with titulo_texto="Crear Producto" %}        
    {% endif %}  
{% endblock titulo %}

{% block main %}
    <section class="form-container">
        <form class="card" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="btn-container">
                <button class="btn-success" type="submit">Guardar</button>
                <a class="btn-success" href="{% url 'productos:home' %}">Volver</a>
            </div> 
        </form>
    </section>
{% endblock main %}