{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}
        dQ | Modificar Producto   
    {% else %}
        dQ | Crear Producto
    {% endif %} 
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'productos/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    {% if form.instance.pk %}
        <div class="titulo-container">
            <h1 class="main-titulo">Modificar Producto</h1>
            <hr  class="main-hr"/>
        </div>
    {% else %}
        <div class="titulo-container">
            <h1 class="main-titulo">Crear Producto</h1>
            <hr  class="main-hr"/>
        </div>
    {% endif %}  
{% endblock titulo %}

{% block main %}
    <div class="productos-container">
        <form class="producto-card" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="form-btn-container">
                <button class="boton" type="submit">Guardar</button>
                <a class="boton" href="{% url 'productos:home' %}">Volver</a>
            </div> 
        </form>
    </div>
{% endblock main %}