{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Eliminar Categoria
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'productos/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    <div class="titulo-container">
        <div class="titulo-producto-container">
            <h1 class="main-titulo">Eliminar Categoria</h1>
            <div class="productos-crear-cat">
                <a class="productos-crear" href="{% url 'productos:home' %}">Productos</a>
                <a class="productos-crear" href="{% url 'productos:categorias' %}">Categorias</a>
                <a class="productos-crear" href="{% url 'productos:lista_wa' %}">Lista Whatsapp</a>
            </div>
        </div>
        <hr  class="main-hr"/>
    </div>
{% endblock titulo %}

{% block main %}
    <div class="eliminar-container">
        <p>¿Confirma eliminar "{{ object.nombre }}"?</p>
        <p>Se eliminaran todos los productos que contenga...</p>

        <form method="post">
            {% csrf_token %}
            <div class="delete-btn-container">
                <button type="submit" class="btn-delete">Confirmar</button>
                <a class="boton" href="{% url 'productos:categorias' %}">Volver</a>
            </div>                
        </form>
    </div>
{% endblock main %}