{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Eliminar Categoria
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'productos/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    {% include 'core/components/encabezado.html' with titulo_texto="Eliminar Categoria" %}
{% endblock titulo %}

{% block main %}
    <section class="card eliminar colum-center">
        <p>¿Confirma eliminar "{{ object.nombre }}"?</p>
        <p>Se eliminaran todos los productos que contenga estos se borraran de las facturas y perderas todas las estadisticas del mismo.-</p>

        <form method="post">
            {% csrf_token %}
            <div class="btn-container">
                <button type="submit" class="btn-delete">Confirmar</button>
                <a class="btn-success" href="{% url 'productos:categorias' %}">Volver</a>
            </div>                
        </form>
    </section>
{% endblock main %}