<form method="post" id="form-datos" class="carro-datos" action="{% url 'carro:cargar_datos' %}">
    <h3 class="carro-titulo">Datos</h3>
    {% csrf_token %}
    {% for key, value in request.session.carro.items %}
        {% if key == "datos" %}       
            <div class="select-container">
                <select class="selects" name="estado" onchange="this.form.submit()">
                    <option value="pendiente" {% if value.estado == "pendiente" %}selected{% endif %}>PENDIENTE</option>
                    <option value="entregado" {% if value.estado == "entregado" %}selected{% endif %}>ENTREGADO</option>
                    <option value="cancelado" {% if value.estado == "cancelado" %}selected{% endif %}>CANCELADO</option>
                    <option value="reservado" {% if value.estado == "reservado" %}selected{% endif %}>RESERVAR</option>
                </select>
            </div>
            <div class="select-container">
                <select class="selects" name="pago" onchange="this.form.submit()">
                    <option value="cobrar" {% if value.pago == "cobrar" %}selected{% endif %}>COBRAR</option>
                    <option value="efectivo" {% if value.pago == "efectivo" %}selected{% endif %}>EFECTIVO</option>
                    <option value="mercado" {% if value.pago == "mercado" %}selected{% endif %}>MERCADO PAGO</option>
                    <option value="naranja" {% if value.pago == "naranja" %}selected{% endif %}>NARANJA</option>
                </select> 
            </div>
            <div class="select-container">
                <select class="selects" name="forma_entrega" onchange="this.form.submit()">
                    {% for entrega in forma_entrega %}
                        <option value="{{entrega.id}}" {% if value.forma_entrega == entrega.forma_entrega %}selected{% endif %}>{{entrega.forma_entrega|upper}}</option>
                    {% endfor %}
                </select>
            </div>                  
            {% if value.envio == True %}
                <div class="select-container">
                    <input class="selects" type="text" {% if value.direccion == "" %}placeholder="Dirección..."{% else %}value="{{ value.direccion }}"{% endif %} name="direccion">
                </div>    
            {% endif %}
            <div class="select-container">
                <input class="selects" type="text" {% if value.nombre == "" %}placeholder="Nombre..."{% else %}value="{{ value.nombre }}"{% endif %} name="nombre">    
            </div> 
            <div class="select-container">
                <input class="selects" type="text" {% if value.observacion == "" %}placeholder="Observación..."{% else %}value="{{ value.observacion }}"{% endif %} name="observacion">           
            </div>            
        {% endif %}
    {% endfor %}
</form>
    
<script>
    document.getElementById('form-datos').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            e.preventDefault();
            this.submit();
        }
    });
</script>
    



              



