<h3 class="carro-titulo-producto">Productos</h3>
<div class="form-selects-conteiner">
    <form class="form-selects" id="form-productos">
        {% csrf_token %}
        {% for categoria, productos in categorias.items %}
            <div class="select-container">
                <select class="selects" name="producto" id="producto_{{ forloop.counter }}" onchange="deseleccionarOtrosYEnviar(event)">
                    <option disabled selected>{{ categoria }}</option>
                    {% for producto in productos %}
                        {% if producto.precio_doc %}
                            <option value="{{ producto.id }}">{{ producto.nombre }} c/u: ${{ producto.precio_unit }} | 1/2: ${{ producto.precio_media }} | Doc: ${{ producto.precio_doc }} </option>
                        {% elif producto.precio_media and not producto.precio_doc%}
                            <option value="{{ producto.id }}">{{ producto.nombre }} 1/2: ${{ producto.precio_media }} | c/u: ${{ producto.precio_unit }}</option>
                        {% else %}
                            <option value="{{ producto.id }}">{{ producto.nombre }} c/u: ${{ producto.precio_unit }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        {% endfor %}

        <h3 class="carro-titulo-producto">Datos</h3>
            {% csrf_token %}
            {% for key, value in request.session.carro.items %}
                {% if key == "datos" %}
                    
                    <div class="form-selects-conteiner">

                        <div class="select-container">
                            <input type="text" placeholder="Dirección..." name="direccion" value="{{ value.direccion }}">
                            <input type="text" placeholder="Nombre..." name="nombre" value="{{ value.nombre }}">
                            <input type="text" placeholder="Observación..." name="observacion" value="{{ value.observacion }}">
                        </div>
        
                    </div>
                    
                {% endif %}
                
            {% endfor %}
            
            <button type="submit" name="cargar_pedido">cargar pedido</button>
            
    </form>
     
</div>

<script>
    const selects = document.querySelectorAll('.selects');

    function deseleccionarOtrosYEnviar(event) {
        const selectActual = event.target;
        
        selects.forEach(select => {
            if (select !== selectActual) {
                select.selectedIndex = 0;
            }
        });

        document.getElementById('form-productos').submit();
    }
</script>


