<div class="carro-select-container">
    {% csrf_token %}
    {% for categoria, productos in categorias.items %}
        <div class="select-container">
            <select class="selects" name="producto" id="producto_{{ forloop.counter }}" onchange="deseleccionarOtrosYEnviar(event)">
                <option disabled selected>{{ categoria }}</option>
                {% for producto in productos %}
                    {% if producto.precio_doc %}
                        <option value="{{ producto.id }}">{{ producto.nombre }} c/u: ${{ producto.precio_unit }} | 1/2: ${{ producto.precio_media }} | Doc: ${{ producto.precio_doc }} </option>
                    {% elif producto.precio_media and not producto.precio_doc%}
                        <option value="{{ producto.id }}">{{ producto.nombre }} 1/2: ${{ producto.precio_media }} | c/u: ${{ producto.precio_unit }}</option>
                    {% else %}
                        <option value="{{ producto.id }}">{{ producto.nombre }} c/u: ${{ producto.precio_unit }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    {% endfor %}
</div>

