




{% if request.session.carro.items %}
    <h3>Producto agregado:</h3>
    {% for key, value in request.session.carro.items %}
        {% if key != 'datos' %}
            <div class="widget">
                <p>{{value.nombre}}</p>
                <a href="{% url 'carro:restar' value.producto_id %}">-</a>
                <form method="get" action="{% url 'carro:actualizar_cantidad' value.producto_id value.cantidad %}">
                    {% csrf_token %}
                    <input type="hidden" name="producto_id" value="{{ value.producto_id }}">
                    <input type="number" name="nueva_cantidad" value="{{value.cantidad}}">
                    {% comment  %}
                    {% if value.precio_media != "None" and value.precio_doc == "None" %}
                        <input type="number" name="nueva_cantidad" value="{{value.cantidad}}" step="0.5" min="0.5">
                    {% else %}
                        <input type="number" name="nueva_cantidad" value="{{value.cantidad}}">
                    {% endif %}
                    {% endcomment %}
                </form>
                <a href="{% url 'carro:agregar' value.producto_id %}">+</a>
                <p>{{value.subtotal}}</p>
                <a href="{% url 'carro:eliminar' value.producto_id %}">x</a>
            </div>
        {% endif %}
        
         
    {% endfor %}
    
    <h3>Datos:</h3>
    {% for key, value in request.session.carro.items %}
        {% if key == 'datos' %}
            <div class="widget_datos">
                <p>{{value.nombre}}</p>
                <p>{{value.direccion}}</p>     
                <p>{{value.observacion}}</p>
                <p>{{value.estado}}</p>
                <p>{{value.pago}}</p>
            </div>
        {% endif %}
    
     
{% endfor %}

    <p>Total: ${{importe_total_carro}}</p>
    
{% else %}    
    <h2>No hay productos cargados</h2>
{% endif %}




