




{% if request.session.carro.items %}
    <h3>Producto agregado:</h3>
    {% for key, value in request.session.carro.items %}
        {% if key != 'contador_empanadas' %}
            <div class="widget">
                <p>{{value.nombre}}</p>
                <a href="{% url 'carro:restar' value.producto_id %}">-</a>
                <p>{{value.cantidad}}</p>     
                <a href="{% url 'carro:agregar' value.producto_id %}">+</a>
                <p>{{value.subtotal}}</p>
                <a href="{% url 'carro:eliminar' value.producto_id %}">x</a>
            </div>
        {% endif %}
         
    {% endfor %}

    <p>Total: ${{importe_total_carro}}</p>
    <a href="{% url 'carro:limpiar' %}">Cancelar Pedido</a>
{% else %}    
    <h2>No hay productos cargados</h2>
{% endif %}




