/* index.html */
.categorias-container {
    width: 90%;
    margin: 0 auto; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.titulo-producto {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.cont-titulo {
    display: flex;
    align-items: center;
}
.categoria-titulo {
    font-size: 24px;
    color: #2C3E50;
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
    margin-left: 10px;
}

.cat-cant-stk {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cat-cant-opc {
    height: 60%;
    display: flex;
    align-items: center;
}

.cat-cant {
    width: 80%;
    height: 70%; 
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;

}
.cat-stock {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.icono-opc-cat {
    height: 50%;
    aspect-ratio: 1 / 1;
    transition: transform 0.3s ease;
}




.categoria-hr {
    width: 95%;
    height: 1px;
    border: none;
    background-color: #2C3E50;
    margin: 0 auto 5px;
}
.productos {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 30% 15% 15% 10% 10% 15%;
    grid-template-areas: "nom prc prcr opc cnf frm";
    align-items: center;
    padding: 10px 0;
    justify-content: center;
}
.producto-nombre {
    grid-area: nom;
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
}
.producto-precio {
    grid-area: prc;
    font-size: 16px;
    text-align: center;
    color: #2C3E50;
}
.producto-precio-rec {
    grid-area: prcr;
    font-size: 16px;
    text-align: center;
    color: #2C3E50;
}
.producto-opc {
    grid-area: opc;
    display: flex;
    justify-content: space-around;
}
.producto-config {
    grid-area: cnf;
    display: flex;
    justify-content: space-around;
}
.form-cantidad {
    grid-area: frm;
    display: flex;
    justify-content: space-around;
}
.producto-cant-opc {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.producto-stock {
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.btn-act {
    width: 30%;
    background-color: #f8f9fa; /* Gris claro */
    color: #343a40; /* Gris oscuro para el texto */
    border: 1px solid #ced4da;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-act:hover {
    background-color: #e2e6ea;
    color: #212529;
    border-color: #adb5bd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.producto-cant {
    width: 90%;
    height: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icono-opc {
    height: 100%;
    aspect-ratio: 1 / 1;
    transition: transform 0.3s ease;
}
.icono-opc:hover {
    transform: scale(1.2);
}
/* lista_wa.html */
.card-wa {
    padding: 25px;
}

/* producto_detail.html */
.eliminar {
    width: 60%;
    max-width: 600px;
    height: auto;
    margin: 50px auto;
}
.eliminar p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
.producto-card-titulo {
    font-size: 28px;
    color: #2C3E50;
    margin-bottom: 10px;
}
.detalle-producto {
    font-size: 16px;
    color: #555;
    margin: 10px;
}
/* producto_form.html */
th {
    text-decoration: underline;
}


.form-container {
    width: 100%;
    height: calc(100vh - 17vh);
    display: flex;
    justify-content: center;
    padding: 20px;
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.styled-table th, .styled-table td {
    /* border: 1px solid #2C3E50; */
    padding: 10px;
    text-align: center;
}
.input {
    width: 80%;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-cantidad {
    width: 70px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container-detail {
    display: flex;
    width: 80%;
    max-width: 100%; 
    min-height: fit-content; 
    overflow: auto; 
    align-items: center;
}


.insumos-productos {

    border-right: 1px gray solid;
    padding-right: 15px;
    width: 50%;
}

.selects-form {
    padding-left: 15px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-del {
    border: none;
}

.prod-new {
    max-width: 100%; 
    min-height: fit-content; 
    overflow: auto; 
    align-items: center;
}




















