{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'core/app/alimento.ico' %}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    {% block css %}{% endblock css %}
    
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include 'core/components/header.html' %}
    {% include 'core/components/menu.html' %}
    <main class="main-container">
        {% block titulo %}{% endblock titulo %}
        {% block main %}{% endblock main %}
    </main>
    {% include 'core/components/footer.html' %}



    <audio id="plin" src="{% static 'sounds/plin.mp3' %}" preload="auto"></audio>
    <audio id="plin" src="{% static 'sounds/plin.mp3' %}" preload="auto"></audio>



    <script>
    let ultimaFecha = localStorage.getItem("ultimaFecha") || 0;

    async function chequearPedidos() {

        const audio = document.getElementById("plin");

        const response = await fetch("/pedido/pedidos-nuevos/");
        const data = await response.json();

        console.log("Guardado:", ultimaFecha);
        console.log("Servidor:", data.ultima_fecha);

        if (ultimaFecha !== 0 && Number(data.ultima_fecha) > ultimaFecha) {
            audio.play();
        }

        ultimaFecha = Number(data.ultima_fecha);
        localStorage.setItem("ultimaFecha", ultimaFecha);
    }
    setInterval(chequearPedidos, 5000);


    </script>





</body>
</html>