{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Pedidos
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'carro/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    <div class="main-titulo-container">
        <div class="titulo-opciones-container">
            <h1 class="main-titulo">Pedidos</h1>
            <div class="btn-container">
                <a class="btn-opc" href="{% url 'carro:carro' %}">Crear Pedido</a>
                <a class="btn-opc" href="#">Opcion 1</a>
                <a class="btn-opc" href="#">Opcion 2</a>
            </div>
        </div>
        <hr  class="main-hr"/>
    </div>
{% endblock titulo %}

{% block main %}
{% for pedido, pedido_data in pedidos.items %}
<div class="pedido">
    <h2>Numero de Pedido: {{ pedido }}</h2>
    <a href="{% url 'pedido:modificar_pedido' pedido %}">detalle</a>
    <p>Estado: {{ pedido_data.datos.estado }}</p>
    <p>Pago: {{ pedido_data.datos.pago }}</p>
    <p>Forma de Entrega: {{ pedido_data.datos.forma_entrega }}</p>
    <p>Nombre: {{ pedido_data.datos.nombre }}</p>
    <p>Dirección: {{ pedido_data.datos.direccion }}</p>
    <p>Observación: {{ pedido_data.datos.observacion }}</p>

    
    <h3>Productos:</h3>
    <ul>
        {% for producto_id, producto_data in pedido_data.items %}
            {% if producto_id != 'datos' and producto_id != 'empanadas' %}
                <li>
                    <p>Nombre: {{ producto_data.nombre }}</p>
                    <p>Cantidad: {{ producto_data.cantidad }}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h3>Total: {{ pedido_data.datos.total }}</h3>
</div>
{% endfor %}
{% endblock main %}