{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Pedidos
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'carro/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    <div class="main-titulo-container">
        <div class="titulo-opciones-container">
            <h1 class="main-titulo">Pedidos</h1>
            <div class="main-opciones-container">
                <a class="btn-opc" href="{% url 'carro:carro' %}">Crear Pedido</a>
                <a class="btn-opc" href="#">Opcion 1</a>
                <a class="btn-opc" href="#">Opcion 2</a>
            </div>
        </div>
        <hr  class="main-hr"/>
    </div>
{% endblock titulo %}

{% block main %}
    <p>aqui muestro todos los pedidos</p>
{% endblock main %}