{% load static %}

<div class="main-titulo-container">
    <div class="titulo-opciones-container">
        <h1 class="main-titulo">{{ titulo_texto }}</h1>
        <div class="btn-container">
            {% if titulo_texto == "Caja Diaria" %}
                <a class="btn-opc" href="{% url 'facturas:abrir_caja' %}">Abrir Caja</a>
                <a class="btn-opc" href="{% url 'facturas:cerrar_caja' %}">Cerrar Caja</a>
            {% elif titulo_texto == "Facturación" %}
                <form method="get" class="filtro-form">
                    {{ form.as_p }}
                    <button type="submit" class="btn-opc"><img class="icono-opc" src="{% static 'facturas/img/buscar_dato.webp' %}" alt="Detalle Producto"></button>
                </form>
            {% endif %}
            
        </div>
    </div>
    <hr  class="main-hr"/>
</div>