{% if cant_envios > 0 %}
<footer class="footer-envios">
    <p class="footer-info">ENVIOS: {{cant_envios}}</p>
    <p class="footer-info">
        {% if cant_pedidos %}PEDIDOS: {{cant_pedidos}}{% endif %}
        {% if cant_pendientes %} | PENDIENTES: {{cant_pendientes}}{% endif %}
        {% if cant_entregados %} | ENTREGADOS: {{cant_entregados}}{% endif %}
        {% if cant_reservados %} <span style="color: rgb(31, 255, 79);">| RESERVADOS: {{cant_reservados}}</span>{% endif %}
    </p>
</footer>  
{% else %}
<footer class="footer-pedidos">
    <p class="footer-info">
        {% if cant_pedidos %}PEDIDOS: {{cant_pedidos}}{% endif %}
        {% if cant_pendientes %} | PENDIENTES: {{cant_pendientes}}{% endif %}
        {% if cant_entregados %} | ENTREGADOS: {{cant_entregados}}{% endif %}
        {% if cant_reservados %} <span style="color: rgb(31, 255, 79);">| RESERVADOS: {{cant_reservados}}</span>{% endif %}
    </p>
</footer> 
{% endif %}