<nav class="menu-container">
    <ul class="list-app">    
        {% if user.is_authenticated %}
            <li class="list-link"><a class="link-app" href="{% url 'core:home' %}">Escritorio</a></li>
            <li class="list-link"><a class="link-app" href="#">Caja</a>
                <ul class="sub-menu">
                    <li class="sub-list-link"><a class="link-app" href="#">Cierre X</a></li>
                    <li class="sub-list-link"><a class="link-app" href="#">Cierre Z</a></li>
                </ul>
            </li>
            <li class="list-link"><a class="link-app" href="{% url 'carro:carro' %}">Pedidos</a></li> 
            <li class="list-link"><a class="link-app" href="#">Facturación</a></li>
            <li class="list-link"><a class="link-app" href="#">Gastos y Compras</a></li>
            <li class="list-link"><a class="link-app" href="#">Contabilidad</a></li>
            <li class="list-link"><a class="link-app" href="#">Estadisticas</a></li>
            <li class="list-link">
                <a class="link-app" href="{% url 'productos:home' %}">Productos</a>
                <ul class="sub-menu">
                    <li class="sub-list-link"><a class="link-app" href="{% url 'productos:productos_create' %}">Crear Producto</a></li>
                    <li class="sub-list-link"><a class="link-app" href="{% url 'productos:categorias' %}">Categoria</a></li> 
                    <li class="sub-list-link"><a class="link-app" href="{% url 'productos:lista_wa' %}">Lista Whatsapp</a></li>
                </ul>
            </li>   
            <li class="list-link"><a class="link-app" href="#">Costos</a></li>
        {% endif %}    
    </ul>
</nav>

