<form method="post" id="form-productos" action="{% url 'estadisticas:home' %}">
    <div class="carro-select-container">
        {% csrf_token %}
        <h3>Categorías</h3>
        <div class="select-container">
            <select class="selects" name="categoria">
                <option disabled selected>Selecciona una categoría</option>
                {% for categoria, productos in categorias.items %}
                    <option value="{{ categoria }}">{{ categoria }}</option>
                {% endfor %}
            </select>
        </div>

        <h3>Productos</h3>
        {% for categoria, productos in categorias.items %}
            <div class="select-container">
                <select class="selects" name="producto_id">
                    <option disabled selected>{{ categoria }}</option>
                    {% for producto in productos %}
                        <option value="{{ producto.id }}">{{ producto.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}

        <div>
            <label for="fecha_inicio">Fecha de inicio:</label>
            <input type="date" name="fecha_inicio" id="fecha_inicio">
        </div>
        <div>
            <label for="fecha_fin">Fecha de fin:</label>
            <input type="date" name="fecha_fin" id="fecha_fin">
        </div>

        <div>
            <label for="dia_semana">Día de la semana:</label>
            <select name="dia_semana">
                <option disabled selected>Selecciona un día</option>
                <option value="2">Lunes</option>
                <option value="3">Martes</option>
                <option value="4">Miércoles</option>
                <option value="5">Jueves</option>
                <option value="6">Viernes</option>
                <option value="7">Sábado</option>
                <option value="1">Domingo</option>
            </select>
        </div>

        <button type="submit">Filtrar</button>
    </div>
</form>

<div>
    {% if categoria_seleccionada %}
        <h4>Filtrar por {{categoria_seleccionada}}</h4>
        {% if cantidad_vendida %}
            <p>Cantidad de {{categoria_seleccionada}}: {{cantidad_vendida}}</p>
        {% endif %}
    {% elif producto_seleccionado %}
        <h4>Filtrar por {{producto_seleccionado}}</h4>
        {% if cantidad_vendida %}
            <p>Cantidad de {{producto_seleccionado}}: {{cantidad_vendida}}</p>
        {% endif %}
    {% endif %}
</div>
