{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Caja Diaria
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'facturas/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    {% include 'core/components/encabezado.html' with titulo_texto="Caja Diaria" %}
{% endblock titulo %}

{% block main %}
{% if caja_total != 0.0 %}
    <div class="facturas-totales card">
        <h3>Efectivo: ${{caja_efectivo}}</h3>
        <p>|</p>
        <h3>Mercado: ${{caja_mercado}}</h3>
        <p>|</p>
        <h3>Naranja: ${{caja_naranja}}</h3>
        <p>|</p>
        <h3>Total: $ {{caja_total}}</h3>
    </div>
    {% if pedidos or pedidos_reservados %}
        {% for key, value in pedidos.items %}
            <div class="cajas-detalle">
                <p class="cajas-detalle-pedido">Pedido {{key}}</p>
                <p class="cajas-detalle-pedido" {% if value.datos.estado == "pendiente" %}style="color:red;"{% endif %}>{{value.datos.estado|upper}}</p>
                <p class="cajas-detalle-pedido" {% if value.datos.pago == "cobrar" %}style="color:red;"{% endif %}>{{ value.datos.pago|upper }}</p>
                <p class="cajas-detalle-pedido">${{ value.datos.total }}</p>
                <div class="cajas-detalle-pedido">
                    <img class="icono-opc" id="checkToggle" src="{% static 'facturas/img/no_check.png' %}" alt="Chequear Factura">
                </div>          
            </div>
            <div class="facturas-hr-container">
                <hr class="facturas-hr">  
            </div>
        {% endfor %} 

        {% for key, value in pedidos_reservados.items %}
            <div class="cajas-detalle">
                <p class="cajas-detalle-pedido">Pedido {{key}}</p>
                <p class="cajas-detalle-pedido" {% if value.datos.estado == "pendiente" %}style="color:red;"{% endif %}>{{value.datos.estado|upper}}</p>
                <p class="cajas-detalle-pedido" {% if value.datos.pago == "cobrar" %}style="color:red;"{% endif %}>{{ value.datos.pago|upper }}</p>
                <p class="cajas-detalle-pedido">${{ value.datos.total }}</p>
                <div class="cajas-detalle-pedido">
                    <img class="icono-opc" id="checkToggle" src="{% static 'facturas/img/no_check.png' %}" alt="Chequear Factura">
                </div>          
            </div>
            <div class="facturas-hr-container">
                <hr class="facturas-hr">  
            </div>
        {% endfor %} 
    
    {% elif pedidos_pago or pedidos_pago_reserv %}
        {% for key, value in pedidos_pago.items %}
            <div class="cajas-detalle">
                <p class="cajas-detalle-pedido">Pedido {{key}}</p>
                <p class="cajas-detalle-pedido" {% if value.datos.pago == "cobrar" %}style="color:red;"{% endif %}>{{ value.datos.pago|upper }}</p>
                <p class="cajas-detalle-pedido">${{ value.datos.total }}</p>
                <div class="cajas-detalle-pedido">
                    <img class="icono-opc" id="checkToggle" src="{% static 'facturas/img/no_check.png' %}" alt="Chequear Factura">
                </div>              
            </div>
            <div class="facturas-hr-container">
                <hr class="facturas-hr">  
            </div>
        {% endfor %}
        {% for key, value in pedidos_pago_reserv.items %}
            <div class="cajas-detalle">
                <p class="cajas-detalle-pedido">Pedido {{key}}</p>
                <p class="cajas-detalle-pedido" {% if value.datos.pago == "cobrar" %}style="color:red;"{% endif %}>{{ value.datos.pago|upper }}</p>
                <p class="cajas-detalle-pedido">${{ value.datos.total }}</p>
                <div class="cajas-detalle-pedido">
                    <img class="icono-opc" id="checkToggle" src="{% static 'facturas/img/no_check.png' %}" alt="Chequear Factura">
                </div>              
            </div>
            <div class="facturas-hr-container">
                <hr class="facturas-hr">  
            </div>
        {% endfor %}
    {% endif %}

{% elif estado_caja == True %}
<h2 class="vacio">Aun no se cargaron pedidos...</h2>             
{% else %}
<h2 class="vacio">Caja Cerrada...</h2>   
{% endif %}

{% if messages %}
  <div class="message-container">
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<script src="{% static 'facturas/js/chequear_facturas.js' %}"></script>


{% endblock main %}





