{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Caja Diaria
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'facturas/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    <div class="main-titulo-container">
        <div class="titulo-opciones-container">
            <h1 class="main-titulo">Caja Diaria</h1>
            <div class="btn-container">
                <a class="btn-opc" href="{% url 'facturas:abrir_caja' %}">Abrir Caja</a>
                <a class="btn-opc" href="{% url 'facturas:cerrar_caja' %}">Cerrar Caja</a>
            </div>
        </div>
        <hr  class="main-hr"/>
    </div>
{% endblock titulo %}

{% block main %}
<div class="facturas-container">
    <div class="facturas-card-container card">
        {% for key, value in pedidos.items %}
        <div class="facturas-detalle">
            <p class="facturas-detalle-pedido">Pedido {{key}}</p>
            <p class="facturas-detalle-pedido">{{ value.datos.pago|upper }}</p>
            <p class="facturas-detalle-pedido">${{ value.datos.total }}</p>
        </div>
        <hr class="facturas-hr">  
        {% endfor %}
        <div class="facturas-totales">
            <h3>Efectivo: ${{caja_efectivo}}</h3>
            <p>|</p>
            <h3>Mercado: ${{caja_mercado}}</h3>
            <p>|</p>
            <h3>Naranja: ${{caja_naranja}}</h3>
            <p>|</p>
            <h3>Total: $ {{caja_total}}</h3>
        </div>
        
    </div>
</div>


{% endblock main %}