/* index.html */
.facturas-totales {
    background-color: rgb(215, 250, 238);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
} 
.cajas-detalle {
    display: flex;
    padding: 15px;
}
.cajas-detalle-pedido {
    width: 33%;
    text-align: center;
}
.facturas-hr-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.facturas-hr {
    width: 85%;
}

/* facturas.html */
.facturas-detalle {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.facturas-detalle-pedido {
    width: 18%;
    text-align: center;
}
.facturas-detalle-icono {
    background-color: white;
    border: none;
    width: 8%;
    text-align: center;
}
.productos-factura {
    background-color:  rgb(232, 247, 242);
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.productos-detalles {
    margin: 10px 50px;
}
