{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Estadisticas
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'estadisticas/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    <div class="main-titulo-container">
        <div class="titulo-opciones-container">
            <h1 class="main-titulo">Estadisticas</h1>
        </div>
        <hr  class="main-hr"/>
    </div>
{% endblock titulo %}

{% block main %}
    <div class=" estadisticas-container">
        
        {% include 'estadisticas/components/estadisticas.html' %}

        {% include 'estadisticas/components/estadisticas_filtros.html' %}

    </div>
{% endblock main %}