{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dQ | Estadisticas
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'estadisticas/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    <div class="main-titulo-container">
        <div class="titulo-opciones-container">
            <h1 class="main-titulo">Estadisticas</h1>
        </div>
        <hr  class="main-hr"/>
    </div>
{% endblock titulo %}

{% block main %}


<div class=" estadisticas-container">
    {% if estadisticas %}
    <div class="estadisticas-datos">

        {% if estadisticas.producto_nombre %}
            <h3 class="titulo-h3">Informe de Ventas - {{ estadisticas.producto_nombre }}</h3>
        {% elif estadisticas.categoria %}
            <h3 class="titulo-h3">Informe de Ventas - {{ estadisticas.categoria }}</h3>
        {% endif %}
        <hr class="est-hr">

        
        {% if estadisticas.media_semana  == "m_j" %}
        <p class="est-datos"><strong>Promedio de ventas:</strong> {{ estadisticas.cantidad_promedio }} {% if estadisticas.producto_nombre %} {{estadisticas.producto_nombre}} {% else %}{{ estadisticas.categoria }}{% endif %} por rango</p>
        {% elif  estadisticas.media_semana  == "v_d"  %}
        <p class="est-datos"><strong>Promedio de ventas:</strong> {{ estadisticas.cantidad_promedio }} {% if estadisticas.producto_nombre %} {{estadisticas.producto_nombre}} {% else %}{{ estadisticas.categoria }}{% endif %} por rango</p>
        {% else %}    
        <p class="est-datos"><strong>Promedio diario de ventas:</strong> {{ estadisticas.cantidad_promedio }} {% if estadisticas.producto_nombre %} {{estadisticas.producto_nombre}} {% else %}{{ estadisticas.categoria }}{% endif %} por día</p>
        {% endif %}
        
        {% if estadisticas.fecha_inicio %}
            <p class="est-datos"><strong>Rango de días:</strong> 
                Desde el {{ estadisticas.fecha_inicio|slice:"8:10" }}-{{ estadisticas.fecha_inicio|slice:"5:7" }}-{{ estadisticas.fecha_inicio|slice:"0:4" }} 
                hasta el {{ estadisticas.fecha_fin|slice:"8:10" }}-{{ estadisticas.fecha_fin|slice:"5:7" }}-{{ estadisticas.fecha_fin|slice:"0:4" }}
            </p>
            <p class="est-datos"><strong>Cantidad de días analizados:</strong> {{ estadisticas.cantidad_dias }} días</p>
        {% elif dia_semana_nombre %}
            <p class="est-datos"><strong>Día filtrado:</strong> {{ dia_semana_nombre }}</p>
            <p class="est-datos"><strong>Cantidad de días analizados:</strong> {{ estadisticas.cantidad_dias }} días</p>
        {% elif estadisticas.media_semana == "m_j" %}
            <p class="est-datos"><strong>Rango de días:</strong> Martes a Jueves</p>
            <p class="est-datos"><strong>Cantidad de rangos analizados:</strong> {{ estadisticas.cantidad_dias }} rangos</p>
        {% elif estadisticas.media_semana == "v_d" %}
            <p class="est-datos"><strong>Rango de días:</strong> Viernes a Domingos</p>
            <p class="est-datos"><strong>Cantidad de rangos analizados:</strong> {{ estadisticas.cantidad_dias }} rangos</p>
        {% else %}
            <p class="est-datos"><strong>Rango:</strong> {{ mes_nombre }} de {{ estadisticas.ano }}</p>
            <p class="est-datos"><strong>Cantidad de días analizados:</strong> {{ estadisticas.cantidad_dias }} días</p>
        {% endif %}

        


        <p class="est-datos"><strong>Cantidad total vendida:</strong> {{ estadisticas.cantidad_vendida }} {% if estadisticas.producto_nombre %} {{estadisticas.producto_nombre}} {% else %}{{ estadisticas.categoria }}{% endif %}</p>

        {% if not estadisticas.media_semana %}
            <p class="est-datos"><strong>Cantidad de días con ventas:</strong> {{ estadisticas.dia_venta }} días</p>
            <p class="est-datos"><strong>Cantidad de días sin ventas:</strong> {{ estadisticas.dia_no_venta }} días</p>
        {% endif %}

        <p class="est-datos"><strong>Cantidad minima vendida:</strong> {{ estadisticas.cantidad_minima }}</p>
        <p class="est-datos"><strong>Cantidad maxima vendida:</strong> {{ estadisticas.cantidad_maxima }}</p>

        
        
  
        
    </div>
    <hr class="main-hr">
{% endif %}


    {% include 'estadisticas/components/select_productos.html' %}
</div>

{% endblock main %}